@import url("https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./styles/navbar.css";
@import "./styles/inputs.css";
@import "./styles/buttons.css";
@import "./styles/dropdown-menu.css";

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background-color: #f7f5f2;
}

* {
  box-sizing: border-box;
}

.site-main-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px auto 130px;
  grid-template-areas: "site-navbar-area" "site-main-area" "site-footer-area";
  min-height: 100vh;
}

.site-navbar-area {
  grid-area: site-navbar-area;
}

.site-main-area {
  grid-area: site-main-area;
  padding: 1rem;
  min-height: calc(100vh - 1800px);
}

.site-footer-area {
  grid-area: site-footer-area;
  background-color: white;
}
